table, mat-paginator  {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


// mat-icon {
//   font-size: 18px;
// }

// .table-buttons__field{
//   min-width:200px;
// }
